/* Reset default margin, set font family, and background color */
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: grey;
}

/* Styling for the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: -5px 20px; 
    color: white;
    font-weight: bold;
}

/* Styles for the logo */
.logo {
    align-items: center;
}

/* Styling for the logo text */
.TheArchitects {
    font-size: 50px;
    margin-left: 100px;
}

/* Styles for the navigation links list */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 50px;
    margin-left: 100px;
    margin-right: 50px;
}

/* Styling for individual navigation list items */
.nav-links li {
    margin: 25px;
    position: relative;
    margin-left: 50px;
}

/* Styling for navigation links */
.nav-links a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

/* Animation for the line under navigation links on hover */
.nav-links a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #f39c12;
    transition: width 0.3s;
}

/* Change link color on hover */
.nav-links a:hover {
    color: #f39c12;
}

/* Expand line under navigation links on hover */
.nav-links a:hover::after {
    width: 100%;
}

/* Styles for a specific title inside a body element*/
.body title{
    font-size: 100px; 
}

/* Styling for the class "title" */
.title {
    font-size: 50px;
    margin-left: 0;
}

/* Styling for a specific element with class "X" */
.txt {
    position: absolute;
    margin-left: 100px;
    font-weight: bold;
    color: beige;
    bottom: 1100px;
}

/* Styles for the content paragraphs */
.p {
    font-size: 20px;
    
    font-family: 'Times New Roman', Times, serif;
    margin: 150px;
}


/* Center aligns content within the button container */
.button-container {
    text-align: center;
}

/* Styles for the animated button */
.animated-button {
    background-color: #f39c12; /* Background color */
    border: none; /* No border */
    color: white; /* Text color */
    padding: 12px 24px; /* Padding */
    font-size: 18px; /* Text size */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Shows pointer on hover */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; /* Smooth transitions */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Hover effect for the animated button */
.animated-button:hover {
    background-color: #e67e22; /* Background color on hover */
    transform: scale(1.05); /* Slight scale increase on hover */
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}
