/* Reset default margin, set font family, and background color */
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: grey;
}

/* Styling for the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: -5px 20px; 
    color: white;
    font-weight: bold;
}

/* Styles for the logo */
.logo_text {
    margin-left: 300px;
    height: 10px;
    margin-top: -200px;
    transform: rotate(360deg);
}




.logo_img{
    margin-left: -2275px;
    
}
.navbar{
    margin-left: -100px;
}
/* Styling for the logo text */
.TheArchitects {
    font-size: 50px;
    margin-left: 100px;
    
}

/* Styles for the navigation links list */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 50px;
    margin-left: -200px;
    
}

/* Styling for individual navigation list items */
.nav-links li {
    margin: 25px;
    position: relative;
    margin-left: 50px;
}

/* Styling for navigation links */
.nav-links a {
    color: white;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
}

/* Animation for the line under navigation links on hover */
.nav-links a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: yellow;
    transition: width 0.3s;
}

/* Change link color on hover */
.nav-links a:hover {
    color: yellow;
}

/* Expand line under navigation links on hover */
.nav-links a:hover::after {
    width: 100%;
}

/* Styles for a specific title inside a body element*/
.body title{
    font-size: 100px; 
}

/* Styling for the class "title" */
.title {
    font-size: 50px;
    margin-left: 0;
}

/* Styling for a specific element with class "X" */
.txt {
    position: absolute;
    margin-left: 100px;
    font-weight: bold;
    color: beige;
    bottom: 1100px;
}

/* Styles for the content paragraphs */
.p {
    font-size: 20px;
    
    font-family: 'Times New Roman', Times, serif;
    margin: 150px;
}


