
@media all and (min-width: 2560px) and (min-height: 1600px){
    
    /* Reset default margin, set font family, and background color */
body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: beige;
    
    
}

/* Styling for the navigation bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #89CFF0;
    
    padding: -5px 20px; 
    
    font-weight: bold;
    border: 4px solid black;
    
}

/* Styles for the logo */
.image-container {
    
    height: 0;
    
    margin-left: 250px;
    margin-top: -700px;
    transform: rotate(360deg);
    pointer-events: none;
}

.image-container img{
    width: 750px;
    height: 750px;
    margin-right: 900px;
    
}


.logo_img{
    margin-left: -2550px;
    pointer-events: none;
    width: 95px;
    height: 95px;
    
}


.navbar{
    margin-left: -200px;
    
    
    
}
/* Styling for the logo text */
.TheArchitects {
    font-size: 50px;
    margin-left: 100px;
    
}

/* Styles for the navigation links list */
.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    font-size: 45px;
    margin-left: -100px;
    font-family: 'Comfortaa', cursive;
    
    
}

/* Styling for individual navigation list items */
.nav-links li {
    margin: 25px;
    position: relative;
    margin-left: 30px;
    margin-right: 50px;
    
}

/* Styling for navigation links */
.nav-links a {
    
    text-decoration: none;
    position: relative;
    color: black;
    transition: color 0.3s;
}

/* Animation for the line under navigation links on hover */
.nav-links a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #fffb00;
    transition: width 0.3s;
}

/* Change link color on hover */
.nav-links a:hover {
    color: #fffb00;
}

/* Expand line under navigation links on hover */
.nav-links a:hover::after {
    width: 100%;
    color: #fffb00;
}

/* Styles for a specific title inside a body element*/
.body title{
    font-size: 100px;
}

/* Styling for the class "title" */
.title {
    font-size: 50px;
    margin-left: 0;
}

/* Styling for a specific element with class "X" */
.txt {
    position: absolute;
    margin-top: 20px;
    font-weight: 900;
    font-size: 70px;
    margin-left: 100px;
    color: rgb(0, 0, 0);
    
    font-family: 'Comfortaa', cursive;
}

/* Styles for the content paragraphs */
.p {
    font-size: 20px;
    
    font-family: 'Comfortaa', cursive;
    margin: 200px;
    margin-top: 150px;
    
}
    
} 
    
